{% extends "base.html" %}

{% block content %}

{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h2>Welcome to Student Portal</h2>

        <h3>Manage Student Records Easily</h3>

        <p>
            This application helps colleges manage student
            information efficiently using Flask.
        </p>

        <div class="hero-buttons">

            <a href="/students" class="btn">
                View Students
            </a>

            <a href="/add-student" class="btn">
                Add Student
            </a>

        </div>

    </div>

</section>

{% endblock %}

{% endblock %}