{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h2>🎓 Welcome to Student Portal</h2>

        <h3>Select Login Type</h3>

        <p>
            Please choose how you want to log in.
        </p>

        <div class="hero-buttons">

            <a href="/admin-login" class="btn">
                👨‍💼 Admin Login
            </a>

            <a href="/student-login" class="btn">
                👨‍🎓 Student Login
            </a>

        </div>

    </div>

</section>

{% endblock %}