{% extends "base.html" %}

{% block content %}

<section class="student-section">

    <div class="student-container">

        <h2>Student List</h2>

        <table>

            <thead>

                <tr>
                    <th>Name</th>
                    <th>USN</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>

            </thead>

            <tbody>

                {% for student in students %}

                <tr>

                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>

                <td>

              <td>

            <a href="/student/{{ student[0] }}" class="view-btn">

                👁 View

            </a>

            <a href="/edit-student/{{ student[0] }}" class="edit-btn">

                ✏ Edit

            </a>

            <a href="/delete-student/{{ student[0] }}"
            class="delete-btn"
            onclick="return confirm('Are you sure?')">

            🗑 Delete

            </a>

        </td>

                {% endfor %}

            </tbody>


            <div class="search-box">

                <form action="/students" method="GET">

                    <input
                        type="text"
                        name="search"
                        placeholder="Search by Name or USN"
                    >

                    <button type="submit">

                        🔍 Search

                    </button>

                </form>

            </div>
        </table>

    </div>

</section>

{% endblock %}